@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Montserrat, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-stroke: 0.45px rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar {
  width: 5px;
  background: transparent;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #D40066;
  border-radius: 10px;
}

.main-image {
  width: 100%;
  height: 100%;
}

.container {
  display: flex;
  flex-flow: row-reverse wrap-reverse;
  width: 100%;
  height: 100vh;

}

.login-form {
  width: 100%;
  height: 70%;
  gap: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
}

.plans-form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
}

@media screen and (max-width: 900px) {
  .container {
    flex-flow: column-reverse;
  }

  .login-form {
    height: 80%;
  }
}

@media screen and (max-width: 414px) {
  img {
    width: '100%';
    height: '100%';
  }
}
