.home-footer-container {
  background-color: #e9ebff;
  width: 100%;

  .home-footer-wrapper {
    display: flex;
    flex-direction: column;

    .home-footer-above {
      display: flex;
      justify-content: space-between;
      gap: 50px;
      flex-wrap: wrap;
      padding: 50px 0 100px 0;

      .home-footer-info-box {
        display: flex;
        flex-direction: column;
        gap: 35px;

        .home-footer-logo {
          font-size: 2rem;
          font-weight: 500;
          color: #252525;
        }

        .home-footer-desc {
          font-size: 1rem;
          line-height: 24px;
          max-width: 300px;
          color: #252525;
        }
      }

      .home-footer-nav {
        .home-footer-list {
          list-style: none;
          display: flex;
          flex-direction: column;
          gap: 25px;

          .home-footer-item a {
            text-decoration: none;
            color: #252525;
            font-size: 1.25rem;
            font-weight: 500;
            transition: opacity 0.3s ease;

            &:hover {
              opacity: 0.5;
            }
          }
        }
      }

      .home-footer-support-box {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 300px;

        .home-footer-support-title {
          font-size: 1.5rem;
          font-weight: 500;
          color: #252525;
          margin-bottom: 35px;
        }

        .home-footer-support-input {
          background-color: #fff;
          border: 2px solid #b9c2ee;
          border-radius: 8px;
          height: 40px;
          padding: 0 10px;
          font-size: 1rem;
          color: #252525;
          transition: border-color 0.3s ease;
          margin-bottom: 15px;

          &:focus {
            border-color: #979ec2;
          }
        }

        .home-footer-support-button {
          width: 100%;
          background-color: #979ec2;
          color: #fff;
          font-size: 1rem;
          font-weight: 500;
          cursor: pointer;
          border: none;
          border-radius: 8px;
          padding: 8px 30px;
          transition: filter 0.3s ease;

          &:hover {
            filter: brightness(80%);
          }

          @include breakpoint(tablet) {
            width: fit-content;
          }
        }
      }
    }

    .home-footer-below {
      border-top: 1px solid #979ec2;
      padding: 20px 0;
      display: flex;
      flex-direction: column;
      gap: 25px;
      justify-content: space-between;
      align-items: center;

      @include breakpoint(tablet) {
        flex-direction: row;
      }

      .home-footer-copyright {
        text-align: center;
      }
    }
  }
}
