.new-provider-form-overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(32, 33, 36, 0.5);
  overflow: auto;
  padding: 50px 15px;
  z-index: 6;

  &::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
  }

  .new-provider-form-container {
    background-color: #fff;
    width: 100%;
    height: auto;
    max-width: 460px;
    vertical-align: middle;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 16px;
    z-index: 7;

    .new-provider-form-wrapper {
      width: 100%;
      display: flex;
      flex-direction: column;

      .new-provider-form-header {
        width: 100%;
        height: 200px;
        position: relative;
        background-image: url("/assets/images/modal-header.png");
        background-repeat: no-repeat;
        background-position: right;
        background-size: cover;
        border-top-left-radius: 16px;
        border-top-right-radius: 16px;
        overflow: hidden;
        display: flex;
        align-items: flex-end;
        justify-content: flex-start;

        .new-provider-form-close-button {
          width: 40px;
          height: 40px;
          border-radius: 8px;
          border: none;
          background-color: #fff;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          position: absolute;
          top: 30px;
          right: 30px;

          svg {
            width: 80%;
            height: auto;
            color: #252525;
          }
        }

        .new-provider-form-title {
          background-color: #fff;
          padding: 15px 30px;
          border-top-right-radius: 16px;
          font-size: 1.5rem;
          font-weight: 600;
          text-align: center;
          color: #252525;
        }
      }

      .new-provider-form-body {
        width: 100%;
        padding: 30px;

        .new-provider-form-form {
          width: 100%;

          .new-provider-form-logo-box {
            width: 100%;
            display: flex;
            flex-direction: column;
            margin-bottom: 15px;

            .new-provider-form-logo-title {
              font-size: 1.125rem;
              font-weight: 500;
              color: #252525;
              margin-bottom: 5px;

              @include breakpoint(tablet) {
                font-size: 1.25rem;
              }
            }

            .new-provider-form-logo-label {
              width: 80px;
              height: 80px;
              border: 2px solid #d40066;
              border-radius: 10px;
              background-color: #ececec;
              display: flex;
              align-items: center;
              justify-content: center;
              cursor: pointer;
              overflow: hidden;

              .new-provider-form-provider-logo {
                width: 70%;
                height: auto;
              }

              svg {
                width: 70%;
                height: auto;
                color: #d40066;
              }

              .new-provider-form-logo-input {
                display: none;
              }
            }
          }

          .new-provider-form-provider-name-box {
            width: 100%;
            display: flex;
            flex-direction: column;
            margin-bottom: 15px;

            .new-provider-form-provider-name-label {
              font-size: 1.125rem;
              font-weight: 500;
              color: #252525;
              margin-bottom: 5px;

              @include breakpoint(tablet) {
                font-size: 1.25rem;
              }
            }

            .new-provider-form-provider-name-input {
              width: 100%;
              height: 40px;
              padding: 0 12px;
              border: 2px solid #cccccc;
              border-radius: 8px;
              font-size: 1rem;
              color: #252525;
              transition: border-color 0.3s ease;

              &:focus {
                border-color: #7a7a7a;
              }
            }
          }

          .new-provider-form-cep-box {
            width: 100%;
            display: flex;
            flex-direction: column;
            margin-bottom: 25px;

            .new-provider-form-cep-title {
              font-size: 1.125rem;
              font-weight: 500;
              color: #252525;
              margin-bottom: 5px;

              @include breakpoint(tablet) {
                font-size: 1.25rem;
              }
            }

            .new-provider-form-cep-wrapper {
              display: flex;
              gap: 15px;

              .new-provider-form-cep-label {
                width: fit-content;
                font-size: 0.875rem;
                font-weight: 600;
                color: #fff;
                background-color: #d40066;
                border: none;
                border-radius: 8px;
                padding: 10px 15px;
                display: flex;
                align-items: center;
                gap: 5px;
                margin-bottom: 10px;
                cursor: pointer;
                transition: filter 0.3s ease;

                &:hover {
                  filter: brightness(80%);
                }

                svg {
                  width: auto;
                  height: 17px;
                  color: #fff;
                }

                .new-provider-form-cep-xml-converter-input {
                  display: none;
                }
              }

              .new-provider-form-cep-loading {
                width: 35px;
                height: 35px;
              }
            }

            .new-provider-form-cep-textarea {
              width: 100%;
              height: 150px;
              resize: none;
              padding: 10px;
              border: 2px solid #cccccc;
              border-radius: 8px;
              font-size: 1rem;
              color: #252525;
              transition: border-color 0.3s ease;

              &:focus {
                border-color: #7a7a7a;
              }
            }
          }

          .new-provider-form-submit-button {
            width: 100%;
            padding: 10px 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #d40066;
            border: none;
            border-radius: 8px;
            color: #fff;
            font-size: 1.3rem;
            font-weight: 500;
            transition: filter 0.3s ease;
            cursor: pointer;

            &:hover {
              filter: brightness(80%);
            }

            .new-provider-form-submit-loading {
              width: 25px;
              height: 25px;
            }
          }
        }
      }
    }
  }
}

.new-provider-form-error-message {
  font-size: 1rem;
  color: #ef5959;
  margin-top: 5px;
}
