.providers-component-container {
  width: 100%;
  height: 100%;
  padding: 0 25px 150px;

  .providers-component-wrapper {
    width: 100%;
    max-width: 1250px;
    height: 100%;
    margin: auto;

    .providers-component-info {
      width: 100%;
      margin-top: 75px;

      .providers-component-status-container {
        width: 100%;

        .providers-component-mobile-title {
          display: block;
          font-size: 1.875rem;
          font-weight: 600;
          color: #252525;
          margin-bottom: 35px;

          @include breakpoint(largeScreen) {
            display: none;
          }
        }

        .providers-component-status-wrapper {
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: space-between;
          gap: 25px;

          @include breakpoint(tablet) {
            flex-direction: row;
            align-items: center;
          }

          .providers-component-status {
            font-size: 1rem;
            font-weight: 500;
            color: #252525;
          }

          .providers-component-new-provider-button {
            width: 100%;
            font-size: 0.875rem;
            font-weight: 600;
            color: #fff;
            background-color: #d40066;
            border: none;
            border-radius: 8px;
            padding: 10px 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            cursor: pointer;
            transition: filter 0.3s ease;

            &:hover {
              filter: brightness(80%);
            }

            svg {
              width: 24px;
              min-width: 24px;
              max-width: 24px;
            }

            @include breakpoint(tablet) {
              width: fit-content;
            }
          }
        }
      }

      .providers-component-providers-wrapper {
        width: 100%;
        margin-top: 80px;
        display: flex;
        flex-direction: column;
        gap: 25px;
        position: relative;

        .providers-component-provider-container {
          width: 100%;
          padding-bottom: 25px;
          border-bottom: 2px solid #c7c7c7;

          .providers-component-provider-box {
            width: 100%;
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            flex-direction: column;
            gap: 25px;

            @include breakpoint(tablet) {
              flex-direction: row;
              align-items: center;
            }

            .providers-component-info-box {
              width: 100%;
              display: flex;
              align-items: flex-start;
              flex-direction: column;
              gap: 25px;

              @include breakpoint(tablet) {
                flex-direction: row;
                width: 50%;
                align-items: center;
              }

              .providers-component-image-title-box {
                width: 100%;
                display: flex;
                align-items: center;
                gap: 25px;

                .providers-component-image-box {
                  width: 50px;
                  min-width: 50px;
                  max-width: 50px;
                  height: 50px;
                  min-height: 50px;
                  max-height: 50px;
                  border-radius: 10px;
                  background-color: #f5e0d9;
                  display: flex;
                  align-items: center;
                  justify-content: center;

                  .providers-component-image {
                    width: 80%;
                    height: auto;
                  }
                }

                .providers-component-provider-name {
                  font-size: 1.125rem;
                  font-weight: 600;
                  color: #252525;
                }
              }

              .providers-component-registered-box {
                width: 100%;
                margin-left: 75px;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 5px;

                @include breakpoint(tablet) {
                  margin-left: 0;
                }

                .providers-component-registered-value {
                  font-size: 1.125rem;
                  font-weight: 500;
                  color: #252525;
                }

                .providers-component-registered-desc {
                  font-size: 0.875rem;
                  font-weight: 500;
                  color: #b0b0b0;
                }
              }
            }

            .providers-component-buttons-box {
              width: 100%;
              display: flex;
              align-items: center;
              justify-content: space-around;

              @include breakpoint(tablet) {
                flex-direction: column;
                align-items: flex-end;
                gap: 10px;
                width: 50%;
              }

              @include breakpoint(smallScreen) {
                flex-direction: row;
                align-items: center;
                justify-content: flex-end;
              }

              .providers-component-details-button {
                font-size: 0.875rem;
                font-weight: 600;
                color: #d40066;
                background-color: #fff;
                border: 2px solid #d40066;
                border-radius: 8px;
                padding: 10px 20px;
                cursor: pointer;
                transition: background 0.3s ease, color 0.3s ease;

                &:hover {
                  background-color: #d40066;
                  color: #fff;
                }
              }

              .providers-component-edit-button {
                font-size: 0.875rem;
                font-weight: 600;
                color: #fff;
                background-color: #d40066;
                border: 2px solid #d40066;
                border-radius: 8px;
                padding: 10px 20px;
                cursor: pointer;
                transition: filter 0.3s ease;

                &:hover {
                  filter: brightness(80%);
                }
              }
            }
          }
        }

        .providers-component-see-more-button {
          width: fit-content;
          padding: 10px 20px;
          background-color: #d40066;
          border: 2px solid #d40066;
          border-radius: 8px;
          font-size: 1rem;
          font-weight: 600;
          color: #fff;
          cursor: pointer;
          margin: auto;
          transition: padding 0.3s ease;

          &:hover {
            padding: 10px 30px;
          }
        }
      }
    }
  }
}
