.tv-details-box-overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(32, 33, 36, 0.5);
  overflow: auto;
  padding: 50px 15px;
  z-index: 6;

  &::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
  }

  .tv-details-box-container {
    background-color: #fff;
    width: 100%;
    height: auto;
    max-width: 720px;
    vertical-align: middle;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 16px;
    z-index: 7;

    .tv-details-box-wrapper {
      width: 100%;
      display: flex;
      flex-direction: column;

      .tv-details-box-header {
        width: 100%;
        height: 200px;
        position: relative;
        background-image: url("/assets/images/modal-image-lg.png");
        background-position: right center;
        background-size: cover;
        background-repeat: no-repeat;
        overflow: hidden;
        display: flex;
        align-items: flex-end;
        justify-content: flex-start;

        .tv-details-box-close-button {
          width: 40px;
          height: 40px;
          border-radius: 8px;
          border: none;
          background-color: #fff;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          position: absolute;
          top: 30px;
          right: 30px;

          svg {
            width: 80%;
            height: auto;
            color: #252525;
          }
        }

        .tv-details-box-title {
          background-color: #fff;
          padding: 15px 30px;
          border-top-right-radius: 16px;
          font-size: 1.5rem;
          font-weight: 600;
          text-align: center;
          color: #252525;
        }
      }

      .tv-details-box-body {
        width: 100%;
        padding: 30px;

        .tv-details-box-info-wrapper {
          width: 100%;
          display: flex;
          flex-direction: column;

          .tv-details-box-info {
            width: 100%;
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            margin-bottom: 25px;

            .tv-details-box-title-box,
            .tv-details-box-created-at-box,
            .tv-details-box-provider-box,
            .tv-details-box-contacts-box,
            .tv-details-box-cost-box,
            .tv-details-box-total-box,
            .tv-details-box-after-cost-box,
            .tv-details-box-period-to-change-cost-box,
            .tv-details-box-priority-box,
            .tv-details-box-benefits-box,
            .tv-details-box-installation-cost-box,
            .tv-details-box-devices-box,
            .tv-details-box-archived-at-box {
              width: 50%;
              display: flex;
              flex-direction: column;
              gap: 5px;

              .tv-details-box-title-label,
              .tv-details-box-created-at-label,
              .tv-details-box-provider-label,
              .tv-details-box-contacts-label,
              .tv-details-box-cost-label,
              .tv-details-box-total-label,
              .tv-details-box-after-cost-label,
              .tv-details-box-period-to-change-cost-label,
              .tv-details-box-priority-label,
              .tv-details-box-benefits-label,
              .tv-details-box-installation-cost-label,
              .tv-details-box-devices-label,
              .tv-details-box-archived-at-label {
                font-size: 1.125rem;
                font-weight: 600;
                color: #252525;
              }

              .tv-details-box-title-desc,
              .tv-details-box-created-at-desc,
              .tv-details-box-provider-desc,
              .tv-details-box-contacts-desc,
              .tv-details-box-cost-desc,
              .tv-details-box-total-desc,
              .tv-details-box-after-cost-desc,
              .tv-details-box-period-to-change-cost-desc,
              .tv-details-box-priority-desc,
              .tv-details-box-benefits-desc,
              .tv-details-box-installation-cost-desc,
              .tv-details-box-devices-desc,
              .tv-details-box-archived-at-desc {
                font-size: 1rem;
                color: #252525;
              }

              .tv-details-box-provider-logo {
                height: 100%;
                width: 100%;
                max-width: 150px;
                max-height: 40px;
                object-fit: contain;
                object-position: left;
                display: block;
              }
            }
          }

          .tv-details-box-description-box {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 5px;
            margin-bottom: 50px;

            .tv-details-box-description-label {
              font-size: 1.125rem;
              font-weight: 600;
              color: #252525;
            }

            .tv-details-box-description-desc {
              font-size: 1rem;
              line-height: 26px;
            }
          }

          .tv-details-box-buttons-wrapper {
            width: 100%;
            display: flex;
            align-items: center;
            gap: 25px;

            .tv-details-box-edit-button {
              background-color: #d40066;
              border-radius: 8px;
              border: 2px solid #d40066;
              padding: 10px 15px;
              font-size: 0.875rem;
              font-weight: 600;
              color: #fff;
              cursor: pointer;
              transition: filter 0.3s ease;

              &:hover {
                filter: brightness(80%);
              }
            }

            .tv-details-box-archive-button {
              background-color: #fff;
              border: 2px solid #d40066;
              border-radius: 8px;
              padding: 10px 15px;
              font-size: 0.875rem;
              font-weight: 600;
              color: #d40066;
              cursor: pointer;
              transition: background 0.3s ease, color 0.3s ease;
              display: flex;
              align-items: center;
              gap: 5px;

              svg {
                width: 18px;
                height: auto;
              }

              &:hover {
                background-color: #d40066;
                color: #fff;
              }
            }
          }
        }
      }
    }
  }
}
